.text-decoration-sm-1 {
	font-size: 14px;
	color: #fff;
}
.text-decoration-sm-2 {
	font-size: 14px;
	color: rgb(221, 221, 221);
}

.number-decoration-lg-1 {
	font-size: 24px;
	color: #3370ff;
	font-family: "electronic";
}
.number-decoration-lg-2 {
	font-size: 24px;
	color: #4b82f8;
	font-family: "electronic";
}
.number-decoration-lg-3 {
	font-size: 20px;
	font-family: "electronic";
	color: #63aff2;
}
.number-decoration-lg-4 {
	font-size: 20px;
	font-family: "electronic";
	color: #80dcf7;
}
.number-decoration-lg-5 {
	font-size: 20px;
	font-family: "electronic";
	color: #94fbed;
}
.number-decoration-lg-6 {
	font-size: 20px;
	font-family: "electronic";
	color: #bbfbf3;
}

.number-decoration-sm-1 {
	font-size: 14px;
	font-family: "electronic";
	color: #3370ff;
}
.number-decoration-sm-2 {
	font-size: 14px;
	font-family: "electronic";
	color: #3d79f5;
}
.number-decoration-sm-3 {
	font-size: 14px;
	font-family: "electronic";
	color: #518ce2;
}
.number-decoration-sm-4 {
	font-size: 14px;
	font-family: "electronic";
	color: #6fa7c4;
}
.number-decoration-sm-5 {
	font-size: 14px;
	font-family: "electronic";
	color: #83bab1;
}
.number-decoration-sm-6 {
	font-size: 14px;
	font-family: "electronic";
	color: #8dc3a7;
}
