$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-ex: 20px;
$color-white: #fff;
$color-light-gray: #cecece;
$color-blue-1: #00b9d8;
$color-blue-2: #00a4c2;
$color-blue-3: #0094a8;
$color-blue-4: #00838f;
